@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito+Sans:wght@200&family=Poiret+One&display=swap');

@font-face {
    font-family: sunnySpells;
    src: url('/assets/fonts/sunny-spells-font/SunnyspellsRegular-MV9ze.otf') ;
}
:root{
    /* font */
    --font-family:  sunnySpells;
    --font-size-xxl: 8.4rem;
    --font-size-xl: 7.2rem;
    --font-size-lg: 6rem;
    --font-size-xmd: 4.8rem;
    --font-size-md: 3.6rem;
    --font-size-sm: 2.4rem;
    --font-size-xsm: 1.8rem;
    --font-size-xxs: 1.2rem;

    /* padding */
    --padding-xl: 7.2rem;
    --padding-lg: 6rem;
    --padding-xmd: 4.8rem;
    --padding-md: 3.6rem;
    --padding-sm: 2.4rem;
    --padding-xsm: 1.8rem;
    --padding-xxs: 1.2rem;

    /* margin */
    --margin-xl: 7.2rem;
    --margin-lg: 6rem;
    --margin-xmd: 4.8rem;
    --margin-md: 3.6rem;
    --margin-sm: 2.4rem;
    --margin-xsm: 1.8rem;
    --margin-xxs: 1.2rem;
    
    --gap: 2rem;
    /* used colors */
    --theme-color: #221c07;
    --font-color: #030637;
    --theme-color-light: #221c07b5;
    --theme-gradient: linear-gradient(#332a0a, #656f34 );
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: var(--font-family);
    font-size: var(--font-size-xxl);
    background-color: white;
    color: var(--font-color);
}

a{
    text-decoration: none;
    color: inherit;
}
button{
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
}
img{
    width: 100%;
}
ul{
    list-style-type: none ;
}
/* fonts, margin, padding */
/* Fonts */
    .f-xxl{
        font-size: var(--font-size-xxl);
    }
    .f-xl{
        font-size: var(--font-size-xl);
    }
    .f-lg{
        font-size: var(--font-size-lg);
    }
    .f-xmd{
        font-size: var(--font-size-xmd);
    }
    .f-md{
        font-size: var(--font-size-md);
    }
    .f-sm{
        font-size: var(--font-size-sm);
    }
    .f-xsm{
        font-size: var(--font-size-xsm);
    }
    .f-xxs{
        font-size: var(--font-size-xxs);
    }

    /* padding */
    .p-xl{
    padding: var(--padding-xl);
    }
    .p-lg{
    padding: var(--padding-lg);
    }
    .p-xmd{
    padding: var(--padding-xmd);
    }
    .p-md{
    padding: var(--padding-md);
    }
    .p-sm{
    padding: var(--padding-sm);
    }
    .p-xsm{
    padding: var(--padding-xsm);
    }
    .p-xxs{
    padding: var(--padding-xxs);
    }

/* margin */
    .m-xl{
        margin: var(--margin-xl);
    }
    .m-lg{
        margin: var(--margin-lg);
    }
    .m-xmd{
        margin: var(--margin-xmd);
    }
    .m-md{
        margin: var(--margin-md);
    }
    .m-sm{
        margin: var(--margin-sm);
    }
    .m-xsm{
        margin: var(--margin-xsm);
    }
    .m-xxs{
        margin: var(--margin-xxs);
    }
/* height og the screen */
.h-50{
    height: 50rem;
}
.h-60{
    height: 60rem;
}
.h-70{
    height: 70rem;
}
.h-80{
    height: 80rem;
}
.h-90{
    height: 90rem;
}
/* shortcuts */
.d-flex{
    display: flex;
}
.bold{
    font-weight: bold;
}.d-grid{
    display: grid;
}
.caps{
    text-transform: uppercase;
}
.not-caps{
    text-transform: none;
}
.black{
    color: black;
}
.bg-white{
    background-color: white;
}
.grey{
    color: grey;
}
/* Reusable classes */

.container{
    max-width: 100vw;
    margin: 0 auto;
    padding: 0;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box-content{
    position: absolute;
}
.place-items-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

                                            /* ----- header --------*/
    /* navbar */
    header{
        background-color: transparent;
        position: fixed;
        z-index: 2;
        top:0;
        left:0;
        width: 100%;
        color: whitesmoke;
    }
    header.scrolled{
        background-image: linear-gradient(black, transparent);
    }
    .desktop-menu{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 7rem;
        padding: 2rem;
    }
    .nav-logo a img{
        /* background-image: linear-gradient(to left, #ff9a02, #1a6b95); */
        background-image: var(--theme-gradient);
        z-index: 3;
    }
    
    .nav-item{
        padding: 1rem 2rem;
    }
    /* more dropdown */
    .more-btn{
        background-color: transparent;
        cursor: pointer;
    }
    .more{
        position: relative;
        display: inline-block;
    }
    .more-content.open {
        display: block;
    }
    .more-content {
        display: none;
        position: absolute;
        background-image: linear-gradient(#332a0a, #656f34 );
        color: white;
        min-width: 16rem;
        top: 5rem;
        right: 1rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        border-radius: 1rem;
    }
    .more-content a{
        margin: 1rem;
        display: block;
    }
    /*-----------Mobile Header -------------*/
    
    .list{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;

    }
    .mobile-menu-content{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-image: var(--theme-gradient);
        color: white;
        justify-content: space-between;
        position: fixed;
    }
    .mobile-menu-content.open{
        display: block;
    }
    .mobile-menu-content a{
        margin: 1rem;
        display: block; 
    }
    .mobile-menu-content ul{
        font-size: var(--font-size-lg);
    }
    .close-btn-container{
        display: flex;
        align-items: start;
        justify-content: end;
        margin: 1rem;
    }
    .close-btn{
        color: white;
    }
    

                               /* ------------------ Home page ---------------- */
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-heading-border{
    width: fit-content;
    border: 0.3rem solid var(--font-color);
    border-radius: 1rem;
    background-color: #f5f5f55b;
    padding: 0.8rem 1.5rem;
}
.home-box{
    position: relative;
    overflow: hidden;
}
/* cloud effect */
.wrapper {
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    background-color: white;
  }
  .moving-clouds {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100em;
    height: 43.75rem;
    -webkit-animation: cloudLoop 70s linear infinite;
    animation: cloudLoop 70s linear infinite;
  }
  @keyframes cloudLoop {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }
  }
/* Experiences */
.experience-img{
    width: 100%;
    height: 75vh;
}

/* Acitivies Positioning */
.box-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
}
/* button */
.explore-btn{
    min-width: 10rem;
    margin: 2rem -1rem;
    padding: 1rem 2rem ;
    border-radius: 3rem;
    background-color: transparent;
    color: whitesmoke;
    font-weight: bolder;
    border: 0.2rem solid whitesmoke;
}
.explore-btn:hover{
    background-color:var(--theme-color);
    color: white;
    transition: 0.25s;
    box-shadow: 0.1rem 0.01rem 0.1rem 0.2rem var(--theme-color);
}
.find-btn{    
    min-width: 10rem;
    margin: 2rem -1rem;
    padding: 1rem 2rem ;
    border-radius: 3rem;
    background-color: transparent;
    color: whitesmoke;
    font-weight: bolder;
    border: 0.2rem solid whitesmoke;
    letter-spacing: 0.3rem;
}
.find-btn:hover{
    background-color:var(--theme-color);
    color: white;
    transition: 0.25s;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.2rem var(--theme-color);
}

/* Activities */
.activities-container{
    max-width: 100%;
    margin: 0;
    padding: 0.5em;
    background-color: white;
}
.activities-heading{
    text-align: center;
}
.activities-list{
    padding: 1rem;
    margin: 5rem 0rem 1rem 1rem;
}
.activity-card{
    position: relative;
    background-color: none;
    width: auto;
    min-width: 20rem;
    height: 60rem; 
    color: var(--font-color);
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 200ms cubic-bezier(.2,0,0,1);
    box-shadow: -0.5rem 0.5rem 0.5rem 0 #a0a0a0;
    margin: 3rem;
    padding: 0; 
}
.activity-card-img{
    object-fit: cover;
    height: 60rem;
    border-radius: 3rem;
    transition: 200ms cubic-bezier(.2,0,0,1);
}
.activity-card-info{
    min-width: 20rem;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    background-color: transparent;
    color: white;
}
.activity-card-explore-btn{
    display: flex;
    min-width: 10rem;
    align-items: center;
    justify-content: space-between;
    margin: 2rem -1rem;
    padding: 1rem 2rem ;
    border-radius: 3rem;
    background-color: #fafcfa3c;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.2rem;
}
.activity-card-explore-btn:hover{
    cursor: pointer;
    box-shadow: -0.1rem 0.1rem 0.1rem 0.2rem #3e3e3e;
}
.activity-card:hover{
    transform: scale(1.05);
    box-shadow: -0.5rem 1rem 1rem 1rem #3e3e3e;
}
/* events */
.events-container{
    max-width: 100%;
    margin: 0;
    padding: 0.5em;
    background-color: white;
}
.events-heading{
    text-align: center;
}
.events-list{
    padding: 1rem;
    margin: 5rem 0rem 1rem 1rem;
}
.event-card{
    display: block;
    background-color: white;
    width: auto;
    min-width: 20rem;
    color: var(--font-color);
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 200ms cubic-bezier(.2,0,0,1);
    box-shadow: -0.5rem 0.5rem 0.5rem 0 #a0a0a0;
    margin: 3rem;
}
.event-card-img{
    object-fit: cover;
    height: 30rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    transition: 200ms cubic-bezier(.2,0,0,1);
}
.event-card-info{
    padding: 2rem;
}
hr.event-card-line{
    margin: 3rem 0 0 0;
    border: 0.1rem solid #d1d1d1;
}
.event-card-explore-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 2rem 2rem;
    border-radius: 3rem;
    color: var(--theme-color);
    font-weight: bolder;
}
.event-card:hover{
    transform: scale(1.01);
    box-shadow: -0.5rem 1rem 1rem 1rem #3e3e3e;
}


/* Accomodation page */
.acco-details{
    height: 100vh;
    object-fit: cover;
}
.acco-box{
    display: flex;
    justify-content: start;
}
.acco-box  ul{
    list-style-type: disc;
}
.accomadation-img-box{
    display: flex;
    flex-direction: column;
    margin: 10rem;
}
.img-box{
    width: 30rem;
    height: 40rem;
    margin: 2rem;
    border: 3rem solid #5a2d20;
    border-image: linear-gradient(to right, #5a2d20, #b86e49);
    border-image-slice: 1;
}
.cabin-chalet{
    margin: 3rem 4rem 1rem 4rem;
    color: white;
    min-height: 100vh;
    padding: 6rem;
}
.cabin-chalet ul{
    list-style-type: disc;
    text-align: start;
    font-size: 2.7rem;
    margin: 1rem;
}
.cabin-chalet ul li{
    margin-left: 3rem;
}
/* Rooms Container */
.screen-sm-hidden{
    display: block;
}
.rooms-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rooms-box{
    border-radius: 2rem;
    border: 0.5rem solid var(--theme-color);
    margin: 2rem;
    padding: 0;
    width: 50rem;
}
.carousel-container {
    border-radius: 30px;
    overflow: hidden;
    width: 40rem;
    height: 40rem;
    position: relative;
    box-shadow: 0 0 30px -20px #223344;
    margin: 4rem 4rem;
    z-index: 0;
  }
  .mySlides {
    display: block;
  }
  .mySlides img {
    display: block;
    width: 100%;
  }
  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 0 8px 8px 0;
  background: rgba(173, 216, 230, 0.1);
  user-select: none;
}
.prev {
    left: 0;
    border-radius: 8px 0 0 8px;
}
.next {
  right: 0;
  border-radius: 8px 0 0 8px;
}
.prev:hover,
.next:hover {
  background-color: var(--theme-color-light);
}
  .vl{
    display: none;
    border-left: 0.3rem solid var(--theme-color);
    height: 50rem;
    margin: 1rem 7rem 1rem 5rem;
  }
  .room-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 5rem 4rem 5rem;
  }
  .room-content-item{
    margin: var(--margin-xsm);
    list-style-type: disc;
  }
/* image gallery */
.gallery-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem;
}
.seperate-view{
    display: flex;
    align-items: center;
}
.seperate-view img{
    width:40rem;
    height: 45rem;
    object-fit: cover;
    box-shadow: 0 0 5px black;
    border-radius: 2rem;
}
#slider img {
    width:15rem;
    height: 20rem;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    border-radius: 2rem;
    margin: 0 1rem;
  }
  
  #seperate-view button{
    width: 4rem;
    height: 16rem;
    background-color: var(--theme-color-light);
    color:#fff;
    cursor: pointer;
    border-radius: 2rem;
    margin: 0rem 1rem;
  }
  #seperate-view button:active{
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
  }
  #seperate-view button:hover{
    background-color: var(--theme-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
  }
  .gallery-img-box{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
  }
/* Experience page */
.exp-image-box{
    height: 90vh;
    width: 50vw;
    object-fit: cover;
}
.exp-content-box{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 50vw;
    justify-content: center;
    padding: 0 2rem;
}
.exp-content-box p{
    margin: 0 0 1rem 0;
}
.exp-content-box ul li{
    margin-left: 4rem;
}
.exp-explore-btn{
    min-width: 20rem;
    margin: 2rem -1rem;
    padding: 1rem 2rem ;
    border-radius: 3rem;
    background-color: var(--font-color);
    color: whitesmoke;
    font-weight: bolder;
    border: 0.2rem solid whitesmoke;
}
.exp-explore-btn:hover{
    background-color: #24296b;
    color: white;
    transition: 0.25s;
    box-shadow: 0.1rem 0.01rem 0.1rem 0.2rem var(--theme-color);
}
/* hiking page */
/* hiking conditions */
.hiking-conditions{
    display: none;
    margin: 5rem 10rem;
}
.hiking-conditions ul li{
    list-style-type: decimal;
}
/* Hiking Accordions */
.accordion-box{
    display: none;
    flex-direction: column;
    align-items: center;
}
.trip-name{
    color: white;
    padding: 2rem;

}
.process-accordion{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    width: 60rem;
    margin: 5rem 0;
    padding: 3rem;
    border-radius: 2rem;
    background-image: linear-gradient(#656f34, #332a0a);
}
.accordion-list{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.accordion-item{
    background-color: whitesmoke;
    border-radius: 2rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    box-shadow: 0 1rem 0 0 var(--theme-color);
    border: 0.3rem solid var(--theme-color);
}
.accordion-control {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    width: 100%;
    position: relative;
}
.accordion-number {
    padding-right: 1.5625rem;
    font-weight: 500;
}
.accordion-title {
    font-weight: 500;
    text-transform: capitalize;
    flex: 1 1 auto;
    display: flex;
    line-height: 120%;
    padding-right: 1.25rem;
    justify-content: flex-start;
}
.accordion-icon {
    display: flex;
    position: relative;
    transition: 0.2s ease-in-out;
    color: inherit;
}
.accordion-content {
    padding: 0 6rem 0 6rem;
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: 0.2s ease-in-out;
    box-sizing: content-box;
    position: relative;
}
.accordion-content-list{
    text-align: start;
    list-style-type:square;
    font-size: 3rem;
    margin: 1rem 0 1rem 2rem ;
}
.accordion-content-list li{
    margin: 0.5rem 0.5;
}
.accordion-content-list p{
    margin: 2rem 0;
    color: #525252;
}
.accordion-terms-list{
    text-align: start;
    list-style-type:decimal;
    font-size: 3rem;
    margin: 1rem 0 1rem 2rem ;
}
.accordion-terms-list li{
    margin: 0.8rem 0.5rem;
}
.trip-cost{
    text-align: start;
    margin: 3rem 0 ;
    color: whitesmoke;
}
.trip-cost ul{
    margin: 1rem;
    font-size: 2.7rem;
}
.trip-cost p{
    font-size: 2.7rem;
    font-style: italic;
}


.open .accordion-content {  
    margin-top: 1rem;
}
.open .accordion-control{
    border-bottom: 0.5rem solid var(--theme-color);
    color: var(--theme-color);
}
  
.open .accordion-icon {
    transform: rotate(180deg);
}

/* plans tabs for desktop */
.tab-container{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.tab-box{
    display:flex;
    width: 130rem;
    height: 65rem;
}
.tab-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
  
  .tab-btn {
    width: 40rem;
    height: 10rem;
    border: none;
    color: #030637;
    background-image: linear-gradient(to right, #656f34, transparent);
    border-radius: 3rem 0rem 0rem 3rem;
    font-weight: 100;
    padding: 1rem 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 4rem;
  }
  .tab-btn:hover {
    background-image:linear-gradient(to right, #332a0a, #656f34);
  }
  .tab-btn.active {
    background-image:linear-gradient(to right, #020201, #656f34);;
    color: white;
  }

  .content {
    display: none;
  }
  .content.show {
    display: flex;
    background-color: #656f34;
    border-radius: 0 2rem 2rem 0;
    width:  90rem;
    height: 100%;
    padding: 0.5rem; 
  }
  
  .content-tab-buttons{
    margin: 0 6rem;
    display: flex;
    column-gap:5rem;
  }
  .content-tab-btn {
    border: none;
    color: #030637;
    background-image: linear-gradient(to right, #656f34, transparent);
    border-radius: 3rem 3rem 0rem 0rem ;
    font-weight: 100;
    padding: 1rem 12rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 4rem;
  }
  .content-tab-btn:hover {
    background-image:linear-gradient( transparent, #332a0a);
  }
  .content-tab-btn.active {
    background-image:linear-gradient(#332a0a, transparent);
    color: white;
  }
  .details {
    display: none;
  }
  .details.show {
    display: block;
    border-radius: 0 2rem 2rem 0;
    background-image: linear-gradient(to bottom, transparent, #332a0a7e);
    width:  85rem;
    height: 52rem;
    padding: 2rem; 
  }
/* social media button */
.social-media-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: 0 1rem;
    color: var(--font-color);
}
.social-media-btn:hover{
    background-color: var(--theme-color);
    color: white;
    box-shadow: 0 0.5rem 1rem black;
}
/* Hover effects */
.opacity:hover{
    opacity: 0.95;
    transition: all 0.5s;
}
.hov-expand:hover{
    transform: scale(1.02);
    transition: all 0.5s;
    box-shadow: 0 0 1rem 1rem rgb(30, 30, 30);
}
.whatsapp-btn{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 10000;
}
.whatsapp-btn button{
    background-color: #25D366;
    color: white;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
}
/* footer */
footer{
    background-color: whitesmoke;
    color: var(--theme-color);
}
.footer-box{
    display: flex;
    padding: 2rem;
    margin: 0 2rem;
    height:auto;
    align-items: center;
    justify-content: start;
}
.foot-head{
    margin: var(--margin-sm);
    width: 25rem;
    height: 10rem;
    padding:auto;
}
.foot-tail{
    display: flex;
    padding: auto;
    margin:  var(--margin-sm);
    height: auto;
}
.foot-hr{
    margin: 0 var(--margin-sm);
    border: 0.1rem solid var(--theme-color);
}
.footer-item{
    margin: 0.5rem 0;
}
.map-card{
    position: relative;
    background-color: none;
    width: auto;
    min-width: 20rem;
    height: 50rem; 
    color: var(--font-color);
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 200ms cubic-bezier(.2,0,0,1);
    box-shadow: -0.5rem 0.5rem 0.5rem 0 #a0a0a0;
    margin: 3rem;
    padding: 0; 
}
.map-card-img{
    object-fit: cover;
    height: 50rem;
    border-radius: 3rem;
    transition: 200ms cubic-bezier(.2,0,0,1);
}
.map-card-info{
    min-width: 20rem;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    background-color: transparent;
    color: black;
    font-weight: bolder;
}
.map-card-explore-btn{
    display: flex;
    min-width: 10rem;
    align-items: center;
    justify-content: space-between;
    margin: 2rem -1rem;
    padding: 1rem 2rem ;
    border-radius: 3rem;
    background-color: #603e09;
    color: white;
    font-weight: bolder;
    box-shadow: -0.1rem 0.1rem 0.1rem 0.2rem #3e3e3e;
    letter-spacing: 0.2rem;
}
.map-card-explore-btn:hover{
    cursor: pointer;
    box-shadow: -0.1rem 0.1rem 0.5rem 0.5rem #3e3e3e;
}
.map-card:hover{
    transform: scale(1.05);
    box-shadow: -0.5rem 1rem 1rem 1rem #3e3e3e;
}
.copyrights{
    display: flex;
    background-color: #ebebeb;
    font-size: var(--font-size-xsm);
    padding: 2rem;
    justify-content: center;
}
/* Media Query */
@media screen and (max-width: 700px){
    html{
        font-size: 35%
    }
    .screen-sm-hidden{
        display: none;
    }    
    .hiking-conditions{
        display: block;
    }
    .accordion-box{
        display: flex;
    }
    .acco-details{
        min-height: 120vh;
    }
    .about-container{
        display:flex;
        flex-direction: column;
    }
    .exp-image-box{
        height: 50vh;
        width: 100vw;
        object-fit: cover;
    }
    .exp-content-box{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100vw;
        justify-content: center;
        padding: 4rem 2rem;
    }

}
@media screen and (min-width: 701px) and (max-width: 1024px){
    html{
        font-size: 40%;
    }
    .mobile-menu{
        display: none;
    }
    .desktop-menu{
        display: block;
    }
    .screen-lg-hidden{
        display: none;
    }
    .about-container{
        display:flex;
    }
    .carousel-container{
        object-fit: cover;
        width: 50rem;
        height: 50rem;
    }
    .rooms-box{
        display: flex;
        width: 118rem;
        align-items: center;
    }
    .vl{
        display: inline-block;
    }
    .acco-details{
        min-height: 150vh;
    }
}
@media screen and (min-width: 1025px) {
    html{
        font-size: 62.5%;
    }
    .box{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .mobile-menu{
        display: none;
    }
    .desktop-menu{
        display: block;
    }
    .screen-lg-hidden{
        display: none;
    }
    .about-container{
        display: flex;
    }
    .activities-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .events-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .team-box{
        grid-template-columns: repeat(2, 1fr);
    }
    .carousel-container{
        object-fit: cover;
        width: 50rem;
        height: 50rem;
    }
    .rooms-box{
        display: flex;
        width: 120rem;
        align-items: center;
    }
    .vl{
        display: inline-block;
    }
    .seperate-view{
        z-index: 9999;
        display: flex;
    }
}